* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(100, 42, 100);
    text-align: center;
}

h1 {
    margin: 12px;
    padding: 12px;
    color: bisque;
    font-size: 8vmin;
}
.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,2);
    font-size: 8vmin;
    color: rgb(52, 19, 240);
}

#reset-btn {
    padding: 0.5rem;
    margin-bottom: 14rem;
    font-size: 1.25rem;
    background-color:brown;
}